.rudrabanner {
    background-image: url(./assets/img/rudrabanner.png);
    min-height: 58vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.logomain{
    width: 18rem;
}

@media screen and (max-width: 770px) {
    .logomain{
        width: 12rem;
        margin-left: 40px;
    }
}
@media screen and (max-width: 470px) {
    .logomain{
        width: 9rem;
        margin-left: 60px;
    }
}